.cardActions {
    display: flex;
    justify-content: flex-end;
}

.timeStamp {
    margin-bottom: 16px;
    font-size: 54px
}

.comments {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.commentsLabel {
    padding-left: 5px
}

.postBody {
    padding-top: 120px;
    padding-bottom: 10px;
    padding-left: 10px
}

.comment {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
}

.commentsBar {
    background-color: #CCCCCC;
}

.sortBy {
    float: right;
    margin-right: 50px;
    margin-top: -10px;
}

.header {
    background-color: #808080;
    font-size: 23px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white
}

.nested {
    padding-left: 20px
}

.formControl {
    min-width: 120px
}

.categoriaLista {
    font-size: 20px;
    list-style: none;
    margin: 20px;
    padding-left: 30px
}

.categoriaItem {
    margin: 15px
}

.categoriaLink {
    color: #232121cc;
    font-weight: bold;
}

.categoriaTitulo {
    width: 90%;
    font-size: 20px;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    margin: 10px;
    color: white;
    padding: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.home {
    width: 90%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #232121cc;
    margin: 20px 10px 10px 10px;
    
}

.homeLink {
    display: inline-block;
    margin-top: 2px;
    height: 40px;
    vertical-align: middle;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #232121cc;
    font-size: 20px;
}

.ativo {
    color: #d00707cc
}

.homeIcon {
    display: inline-block;
    width: 50px
}

.addPost {
    width: 60%;
    color: white;
    background-color: grey;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    margin: 50px auto;
    padding-top: 5px;
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    cursor: pointer
}

.voteScore {
    padding-top: 14px;
    padding-left: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.post {
    margin: 55px 0px -45px 0px;
    border-radius: 4px;
}

.menu {
    position: fixed;
    margin: 60px;
}